#form{
  font-family: "Arial";
  text-align:center;
      margin: auto;
    width: 60%;
    border:3px solid #73AD21;
    padding: 10px;
}
#check{
  font-family: "Arial";
  align:center;
  text-align:left;
  margin: auto;
  width: 60%;
  border:3px solid #73AD21;
  padding: 10px;
  
}
#butt{
  
  font-family: "Arial";
  text-align:center;
  margin: auto;
  width: 60%;
  border:3px solid #73AD21;
  padding: 10px;
}
#map{

    font-family: "Arial";
    text-align:center;
    margin: auto;
    width: 60%;
    border:3px solid #73AD21;
    padding: 10px;
}
h1 {
    color:#73AD21;
    text-shadow: 2px 2px #3f3f3f;
}